title {
    font-family: verdana;
    text-align: center;

}
body {
    background-color: #1d1d39;
}
table {
    border: black 1px solid;
    margin: auto;
}

th {
    border-style: solid;
    border-width: medium;
}
td {
    border-style: solid;
    border-width: medium;
}