h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: large;
    color: orange;
    background-color: rgb(140, 0, 0);
}
.List {
    font-family: Helvetica;
    font-style: italic;
    font-size: medium;
    color: rgb(219, 219, 219);
}
img {
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #2d2d61;
}
table {
    border: black 1px solid;
    margin: auto;
}

th {
    border-style: solid;
    border-width: medium;
    background-color: aquamarine;
}
td {
    border-style: solid;
    border-width: medium;
    background-color: lightcoral;
}